header {
  background-color: #5b7989;
  display: flex;
  flex-flow:wrap;
}
h1{
  width: 80%;
}
nav {
  margin: 0;
  width: 20%;
}
nav ul {
    margin-top: 15%;
}

nav ul li {
  display: inline;
  list-style: none;
}
#imagen-central{
  background-color: #82c3a6;
}
