header{
animation-name: slide;
animation-duration: 2s;
animation-delay: 1s;

}
@keyframes slide {
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}


body{
  font-family: 'Dancing Script';
  background-color: #02010a;
}

header {
  background-color: #d5c75f;
  display: flex;
  flex-flow: column;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

#Titulo-principal{
  color: white;
  font-size: 3em;
  text-shadow: #02010a 2px 2px;
}
.menu{
  padding-left: 0px;
}
nav ul li{
  margin: 2%;
  display: inline;
  font-size: 1.5em;
}
a{
  color: white;
}
a:target {
  text-decoration: none;
}
#contenido{
  width: 100%;
  background: #d5c75f;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%
}
img[id*="paisaje"]{
  width: 80%;
  border: 1px solid black;
  box-shadow: 2px 2px 3px #02010a;
}
#paisaje1{
  filter: blur(10px);
  -webkit-filter: blur(100%);
}
#paisaje2, #paisaje4, #paisaje6{
  filter: grayscale(100%);
}
#paisaje3{
  filter:sepia(90%);
}
footer{
  border-radius: 0 0 10px 10px;
  background-color: #C6d5c5;
  text-align: left;
  padding: 1em;
}
.categ-pie{
  margin-bottom: 0px;
}
h3{
  margin-top: 0px;
}
.img-redes{
  width: 1em;
}
@media all and (min-width: 900px){
body{
  width: 100%;
  margin-left: calc((100% - 900px)/2);
	display: flex;
	flex-flow: column;
}
header {
  box-sizing: border-box;
  max-width: 900px;
  background-color: #5b7989;
  display: flex;
  flex-flow:wrap;
  text-align: left;
}
#contenido{
  box-sizing: border-box;
  max-width: 900px;
}
#contenedor{
  display: flex;
  flex-flow:wrap;
}
.galeria{
  width: 33.33%;
}
  h1{
    width: 68%;
    margin-left: 2%;
  }
  nav {
    margin: 0;
    width: 30%;
  }
  nav ul {
      margin-top: 20%;
  }

  nav ul li {
    display: inline;
    list-style: none;
  }
  footer{
    display: flex;
    flex-flow: row;
    box-sizing: border-box;
    max-width: 900px;
  }
  .pie{
    padding-left: 0.5em;
    width: 25%;
  }
}
